.inputImageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    flex-direction: column;
}

.inputDiv {
    width: 80%;
    aspect-ratio: 1/1;
    max-height: 50vh;
    border: 1px solid cyan;
    box-shadow: 0 0 1pc rgba(0, 255, 255, 0.993);
    background-color: rgba(199, 255, 236, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputDiv input {
    color: cyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sizeInput {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: fantasy;
}

.sizeInput input{
    padding: 2px;
    font-weight: 500;
    font-size: large;
    text-align: center;
    color: indigo;
    border-radius: 2px;
    width: 80%;
}

.sizeInput button{
    padding: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50% , 0);
    width: 100px;
    background-color: rgba(81, 168, 139, 0.5);
    color: aqua;
    border: 2px solid black;
    border-radius: 5px;
}

.sizeInput button:hover{
    color: rgb(204, 255, 237);
    background-color: black;
}