.inputImageBody{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    flex-direction: column;
}

.inputDiv{
    width: 80%;
    aspect-ratio: 1/1;
    max-height: 50vh;
    border: 1px solid cyan;
    box-shadow: 0 0 1pc rgba(0, 255, 255, 0.993);
    background-color: rgba(199, 255, 236, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputDiv input{
    color: cyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

